.wd-flex-column {
    display: flex;
    flex-direction: column;
}

.wd-width-30 {
    width: 30%;
}

.wd-width-100 {
    width: 100%;
}

.wd-margin-left-0px {
    margin-left: 0px;
}

.wd-padding-left-20px {
    padding-left: 20px;
}

.wd-margin-bottom-5px {
    margin-bottom: 5px;
}